@model COVID19IMS.Data.CovidTesting

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CovidTesting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalIdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalIdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentBoothNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentBoothNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TesterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TesterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestingResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestingResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestingDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestingDetails)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
